/**Whole page styles**/
body {
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
}

main {
    border-radius: 10px;
    background-color: white;
    width: 375px;
    overflow: hidden;
    -webkit-box-shadow: 10px 9px 33px -1px rgba(92,92,92,0.91);
    -moz-box-shadow: 10px 9px 33px -1px rgba(92,92,92,0.91);
    box-shadow: 10px 9px 33px -1px rgba(92,92,92,0.91);
    margin: auto;
    
}

#product-info-container {
    padding: 10px 30px 30px 30px;

}

/**Image Section**/

#mobile-image {
    width:  100%;
    

}
#desktop-image {
    display: none;
}






/**Product Info Section **/

#category {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 5px;
}

h1 {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    font-weight: 700;
    font-size: 2.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: .95;
}

#product-description {
    line-height: 1.75;
    font-weight: bold;
}

#price-section {
    display: flex;
    align-items: center;
    gap: 25px;
}

#current-price {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 2.4em;
    margin-top: 20px;
    margin-bottom: 20px;
}

#original-price {
    text-decoration: line-through;
}

#add-cart-btn {
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;

}

#button-icon {
    padding-right: 5px;
}

/**Desktop section (Was designed mobile first)**/

@media only screen and (min-width: 750px) {
    #desktop-image {
        display: block;
    }

    #mobile-image {
        display: none;
    }
  
}

/**Footer Styles**/

footer {
    position: absolute;
    bottom: 10px
}
.attribution { 
    font-size: 11px; 
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}