

/*Universal Formatting Section*/
body {
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
}

main {
    overflow: hidden;
    -webkit-box-shadow: 10px 9px 33px -1px rgba(92,92,92,0.91);
    -moz-box-shadow: 10px 9px 33px -1px rgba(92,92,92,0.91);
    box-shadow: 10px 9px 33px -1px rgba(92,92,92,0.91);
    background-color: white;
}

#category {
    font-weight: 500;
}

h1 {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
}

#product-description {
    line-height: 1.75;
}

#current-price {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
}

#original-price {
    text-decoration: line-through;
}

#add-cart-btn {
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

#add-cart-btn:hover {
    background-color: hsl(159, 32%, 16%);

}

#add-cart-btn:focus {
    background-color: hsl(159, 32%, 16%);

}

/*Mobile Format Section*/
@media only screen and (max-width: 750px) {
    main {
        border-radius: 10px;
        background-color: white;
        width: 375px;
        margin: 50px auto;
    }
    #mobile-image {
        width:  100%;   
    }
    
    #desktop-image {
        display: none;
    }

    #product-info-container {
        padding: 10px 30px 30px 30px;
    }
            
    #category {
        font-size: 13px;
        letter-spacing: 5px;
    }
    
    h1 {
        font-weight: 700;
        font-size: 2.5em;
        line-height: .95;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #product-description {
        font-weight: bold;
    }
    
    #price-section {
        display: flex;
        align-items: center;
        gap: 25px;
    }
    
    #current-price {
        font-size: 2.4em;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #add-cart-btn {
        font-weight: 700;
        font-size: 15px;
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
        border-radius: 10px;
    }
    
    #button-icon {
        padding-right: 5px;
    }

}

/*Desktop Format Section*/
@media only screen and (min-width: 751px) {
    
    main {
        border-radius: 20px;
        width: 1440px;
        margin: 50px auto;
    }

    #mobile-image {
        display: none;
    }
    
    #desktop-image {
        width: 720px;
        height: 1083px;
        display: block;
    }

    main {
        display: flex;
    }

    #image-container {
        width: 50%;
    }

    #product-info-container {
        width: 50%;
        padding: 75px;
    }

    #category {
        font-size: 30px;
        letter-spacing: 10px;
        margin-top: 0;
    }

    h1 {
        font-weight: 700;
        font-size: 88px;
        line-height: .95;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #product-description {
        font-size: 33px;
        padding-top: 25px;
    }

    #price-section {
        display: flex;
        align-items: center;
        gap: 45px;
    }

    #current-price {
        font-size: 85px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #original-price {
        font-size: 33px;
    }

    #add-cart-btn {
        font-weight: 700;
        font-size: 35px;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 20px;
    }
    
    #button-icon {
        padding-right: 10px;
        width: 30px;
    }
  
}


/**Footer Styles**/

footer {
    position: absolute;
    bottom: 10px
}
.attribution { 
    font-size: 11px; 
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}